{% extends "!layout.html" %}
{% block sidebartitle %}
<img style="background-color: #fff; height: unset; width: unset; border-radius: 0;" alt="BSN International" src={{
    pathto("_static/images/BSN-International-Logo.svg",1) }} />
<br>

{{ super() }}

<br>
<a href="https://github.com/BSNDA" target="_blank" ><img style="padding: 0px; margin: auto auto auto auto;" alt="GitHub"
        src="{{ pathto("_static/images/github_button.png", 1) }}" /></a>
        
&nbsp;<a href="https://www.youtube.com/channel/UCUZhOZdni3ZRYmOJri8hnNQ/featured" target="_blank" ><img
        style="padding: 0px; margin: auto auto auto auto;" alt="Youtube Channel" src="{{ pathto("_static/images/youtube_button.png", 1) }}" /></a>
{% endblock %}
sdfsdf